{% load static %}
<div class="rules w-100 mx-0 my-3 px-3">
  <div class="page-heading mx-0 mb-3 w-100"><h1>Rules</h1></div>
  <p><b><u>Players</u></b> Two</p>
  <p><b><u>Description</u></b></p>
  <p>The game is played on a <u>3 x 3</u> grid.</p>
  <p>One player is <b>X</b> and the other is <b>O</b>. The players take turns in drawing their symbol in one of the
    cells. The first player to make a line of three of their symbol horizontally, vertically, or diagonally wins.</p>
  <p>If both players play perfectly the outcome is always a draw, but with inexperienced players the game is just
    complex enough to make the game interesting.</p>
  <img loading="lazy" class="rule-img mb-3" src="{% static 'img/rules/tictactoe/board.png' %}" />
  <p><b><u>Example</u></b></p>
  <div class="example-img-steps">
    <img loading="lazy" class="rule-img mb-3" src="{% static 'img/rules/tictactoe/step1.png' %}" />
    <img loading="lazy" class="rule-img mb-3" src="{% static 'img/rules/tictactoe/step2.png' %}" />
    <img loading="lazy" class="rule-img mb-3" src="{% static 'img/rules/tictactoe/step3.png' %}" />
    <img loading="lazy" class="rule-img mb-3" src="{% static 'img/rules/tictactoe/step4.png' %}" />
    <img loading="lazy" class="rule-img mb-3" src="{% static 'img/rules/tictactoe/step5.png' %}" />
    <img loading="lazy" class="rule-img mb-3" src="{% static 'img/rules/tictactoe/step6.png' %}" />
    <img loading="lazy" class="rule-img mb-3" src="{% static 'img/rules/tictactoe/step7.png' %}" />
  </div>
</div>
